<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Android</string>
	<key>uuid</key>
	<string>8B3F1FC2-DC2B-486E-95FB-A74628D5AF6C</string>
</dict>
</plist>
